<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  # Adaptive-Images -----------------------------------------------------------------------------------

  # Add any directories you wish to omit from the Adaptive-Images process on a new line, as follows:
  # RewriteCond %{REQUEST_URI} !ignore-this-directory
  # RewriteCond %{REQUEST_URI} !and-ignore-this-directory-too
  
  RewriteCond %{REQUEST_URI} !assets

  # don't apply the AI behaviour to images inside AI's cache folder:
  RewriteCond %{REQUEST_URI} !ai-cache
    
  # Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
  # to adaptive-images.php so we can select appropriately sized versions
  
  RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php

  # END Adaptive-Images -------------------------------------------------------------------------------

# redirect error 404
ErrorDocument 404 /404.php
# Disable directory browsing
Options All -Indexes

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work
RewriteRule ^api/([a-zA-Z0-9]+)/$ ajax.php?do=$1 [NC,L]
RewriteRule ^trip/$ trip.php [NC,L]
RewriteRule ^trip/view/(.*)/([0-9]+)/$ trip_view.php?id=$2 [NC,L]
RewriteRule ^user/login/$ user_login.php [NC,L]
RewriteRule ^user/registrasi/$ user_reg.php [NC,L]
RewriteRule ^user/profil/$ user_profile.php [NC,L]
RewriteRule ^pengalaman/baru/$ exp_new.php [NC,L]

</IfModule>